@import "normalize.css";
@import "sanitize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}
